<section class="banner-integrations">
	<div class="w container conference-header" id="training_overview" style="padding-top: 60px; min-height: 150px;">
		<div class="banner-content" style="padding-left: 0; padding-bottom: 16px;">
			<h1 class="h1 center">{{ include.name }}</h1>
		</div>
		<!-- <div class="w container">
			<div class="content text">
				<div class="grid grid-space-category center">
					{% for tag in include.tags %}
					<div class="span">
						<a class="card center category-button" href="" style="color: #25282F">{{ tag< }} </a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div> -->
	</div>
</section>