<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
    {% capture git_hub_page %}{{ "https://share.zabbix.com" }}{{ page.url }}{% endcapture %}
    this.page.url = "{{ git_hub_page }}"; 
    this.page.identifier = "{{ include.folder }}"; 
    };
    (function() { 
    var d = document, s = d.createElement('script');
    s.src = 'https://share-zabbix-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>