.template_desc {
    display: none;
}

.folder {
    margin-top: 5pt;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
}

.folder_template {
    margin-top: 5pt;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;    
}

.container {
    margin-top: 5pt;
    display: flex;
    flex-wrap: wrap;
}

.template {
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin: 2pt;
    display: flex;
}

.version > p {
    display: inline;
    margin-right: 10pt;
}