.template_desc {
    display: none;
}

.folder {
    margin-top: 5pt;
}

.template {
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin: 2pt;
}

.version > p {
    display: inline;
    margin-right: 10pt;
}