[Unit]
Description=Ceph OSD local discovery for Zabbix (every 10 minutes)

[Timer]
OnBootSec=20s
OnUnitActiveSec=10min
AccuracySec=30s
Unit=ceph-osd-perf-zabbix@discovery.service

[Install]
WantedBy=timers.target
