[Unit]
Description=Send Zypper updateinfo to Zabbix
Wants=zabbix-template-module-zypper-updateinfo.timer

[Service]
Type=oneshot
ExecStart=/etc/zabbix/scripts/zypper-updateinfo.py

[Install]
WantedBy=multi-user.target