[Unit]
Description=Send Zypper updateinfo to Zabbix
Requires=zabbix-template-module-zypper-updateinfo.service

[Timer]
Unit=zabbix-template-module-zypper-updateinfo.service
OnCalendar=*-*-* *:00:00

[Install]
WantedBy=timers.target