[Unit]
Description=Ceph OSD cache-tier picked metrics every 15 seconds

[Timer]
OnBootSec=30s
OnUnitActiveSec=15s
AccuracySec=1s
Unit=ceph-osd-perf-zabbix@perf-pick.service

[Install]
WantedBy=timers.target
