[Unit]
Description=Ceph OSD metrics to Zabbix (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -n /run/ceph-osd-perf-zabbix-%i.lock /usr/local/sbin/ceph-osd-perf-zabbix --%i
