<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.name }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body id="body">
  {% assign tgs = site.data.zabbix_templates[page.folder].tags %}
  {% capture git_hub_url %}{{ "https://github.com/zabbix/community-templates/tree/main/" }}{{ page.github }}{% endcapture %}
  <a href="{{ git_hub_url }}">
  {% include banner_integration_template.html name = page.name tags = tgs %}
  </a>
  <div class="w container">
    <h2 class="h2">Available versions</h2>
    <br>
    <div class="tabs-section">
      <div id="integrations_tabs" class="tabs">
        <ul>
          {% assign vers = site.data.zabbix_templates[page.folder].versions %}
          {% for vr in vers %}
          <li>
            <a class="js_tab" id="ver_{{ vr | replace: ".", "_" }}" href="#body">ver. {{ vr }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <br>
    <br>
    {% for vr in vers %}          
      <div id="content_ver_{{ vr | replace: ".", "_" }}" class="readme">
        {% capture file_name %}{{ "markdown/zabbix_templates/" }}{{ page.folder }}{{"/"}}{{ vr }}{{"/README.md"}}{% endcapture %}
        {% include markdown_file.html path=file_name %}
      </div>
    {% endfor %}
    {% include disqus_main.html folder=page.folder %}
  </div>
  <script>
    (function(){  
      console.log('#content_ver_{{ vers | last  | replace: ".", "_"}}');
      console.log('#ver_{{ vers | last  | replace: ".", "_" }}');
      $('.readme').hide();
      $('#content_ver_{{ vers | last  | replace: ".", "_" }}').fadeIn('slow');
      $('#ver_{{ vers | last  | replace: ".", "_" }}').addClass('active');

      {% for vr in vers %}          
        $('#ver_{{ vr | replace: ".", "_" }}').click(function() {
        $('.readme').hide();
        $('#content_ver_{{ vr | replace: ".", "_" }}').fadeIn('slow');
        $('.js_tab').removeClass('active')
        $('#ver_{{ vr | replace: ".", "_" }}').addClass('active');
        })
      {% endfor %}
    })();
</script>
</body>
</html>