<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.name }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script src="/assets/js/jquery.min.js"></script>
</head>

<body id="body">
  {% assign tgs = site.data.zabbix_templates[page.folder].tags %}
  {% capture git_hub_url %}{{ "https://github.com/zabbix/community-templates/tree/main/" }}{{ page.github }}{% endcapture %}
  {% capture git_hub_url_raw %}{{ "https://raw.githubusercontent.com/zabbix/community-templates/main/" }}{{ page.github }}{% endcapture %}
  <a href="{{ git_hub_url }}">
    {% include banner_integration_template.html name = page.name tags = tgs %}
  </a>
  <div class="w container">
    <h2 class="h2">Available versions</h2>
    <br>
    <div class="tabs-section">
      <div id="integrations_tabs" class="tabs">
        <ul>
          {% assign vers = site.data.zabbix_templates[page.folder].versions %}
          {% for vr in vers %}
          <li>
            <a class="js_tab" id="ver_{{ vr.version | replace: ".", "_" }}" href="#body">ver. {{ vr.version }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <br>
    <br>
    {% for vr in vers %}
    {% capture git_hub_url_template %}{{ git_hub_url_raw }}{{"/"}}{{ vr.version }}{{"/"}}{{ vr.template_file }}{% endcapture
    %}
    <div id="content_ver_{{ vr.version | replace: ".", "_" }}" class="readme">
      <div class="banner-buttons " style="padding-top: 20px; ">
        <a class="button button-gray" style="color: #ffff;" href="/#{{ page.folder }}">Back to index</a>
        <a class="button button-green" style="color: #ffff;" href="{{ git_hub_url_template }}">Download</a>
      </div>
      {% capture file_name %}{{ "markdown/zabbix_templates/" }}{{ page.folder }}{{"/"}}{{ vr.version }}{{"/README.md"}}{% endcapture %}
      {% include markdown_file.html path=file_name %}
    </div>
    {% endfor %}
  </div>
  <script>
    (function () {
      {% assign last_vers = vers | last %}
      //console.log('#content_ver_{{ last_vers.version  | replace: ".", "_"}}');
      //console.log('#ver_{{ last_vers.version  | replace: ".", "_" }}');
      $('.readme').hide();
      $('#content_ver_{{ last_vers.version | replace: ".", "_" }}').fadeIn('slow');
      $('#ver_{{ last_vers.version | replace: ".", "_" }}').addClass('active');

      {% for vr in vers %}
      $('#ver_{{ vr.version | replace: ".", "_" }}').click(function () {
        //console.log('#content_ver_{{ vr.version | replace: ".", "_" }}');
        //console.log('#ver_{{ vr.version | replace: ".", "_" }}');
        $('.readme').hide();
        $('#content_ver_{{ vr.version | replace: ".", "_" }}').fadeIn('slow');
        $('.js_tab').removeClass('active')
        $('#ver_{{ vr.version | replace: ".", "_" }}').addClass('active');
      })
      {% endfor %}
    })();
  </script>
</body>

</html>