zabbix_export:
  version: '7.0'
  template_groups:
    - uuid: 7df96b18c230490a9a0a9e2307226338
      name: Templates
  templates:
    - uuid: fb4d1bd2958d43adb32ba8921fc37615
      template: 'Template Docker Images Updates with LLD'
      name: 'Template Docker Images Updates with LLD'
      description: |
        Monitoring of Docker Image Updates on a host, using LLD (low level discovery) to show the name of the available update.
        Dockcheck.sh is used in the background to determine the updates.
        ---
        Made by https://torminal.com
        Source: https://github.com/thetorminal/zabbix-docker-image-updates/tree/main/zabbix-dockcheck-lld
      groups:
        - name: Templates
      discovery_rules:
        - uuid: 671b85847cb140ea8c1f377320593ccd
          name: 'Dockcheck: search for containers with updates'
          key: 'dockcheck[]'
          delay: 10m
          lifetime: 1d
          item_prototypes:
            - uuid: 2a31c7a7df044fd98a3678f67524b531
              name: 'Check updates for {#CONTAINER}'
              key: 'dockcheck[status,{#CONTAINER}]'
              delay: 10m
              trigger_prototypes:
                - uuid: f686cedb5b804d03b387fddeb6935cff
                  expression: 'last(/Template Docker Images Updates with LLD/dockcheck[status,{#CONTAINER}])=1'
                  name: 'Docker update available for {#CONTAINER}'
                  priority: WARNING
                  tags:
                    - tag: application
                      value: docker
